p {
  color: white;
}
.importantTask{
  color:red;
  font-weight: bold;
}
.single-task{
  padding: 3% 0%
}
.modal-backdrop {
   background-color: grey;
}
.delete-task-footer{
  text-align: center;
}

a {
  color: inherit;
}
a:link {
  color: inherit;
  text-decoration: none
}

label{
  font-size: 1.5em;
}
a:hover {
  font-weight: bold;
}
a:active {
  color: inherit;
}

input[type=checkbox] {
  transform: scale(2.0);
  margin-right: 5%;

}
.container{

  display: block;
  min-height: 70%
}

.splash{
  background-color: white;
  min-height: 30%;
}

.full-task-list{

}

h1{
  color: darkgreen;
  text-align: center;
  padding: 4% 0%;
}

.strikethrough:checked + .strikeThis {
  text-decoration: line-through
}
.strikethrough{
  margin-left: 5%;
}

.half-rule {
    width: 70%;
    border-top: 3px dotted white;
 }
