<!DOCTYPE html>
<html lang="en-GB">

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/custom.css">
  <link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />
  <title> diddit - get things done </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="container splash col-xs-6 col-md-8">
    <h1> diddit - get things done </h1>
  </div>
  <!--closes splash div-->

  <div class="container main-page col-xs-6 col-md-8">


<!--    <h2 class="float-right"> task view</h2>-->
    <h3 id="todaystasks"> tasks for today </h3>

<p id='api-resp'></p>

    <div class="form-group col-xs-6 col-md-8">
  <!--    <label for="inputName" class="col-md-1 control-label">...</label>-->
      <h3 id="todaystasks"> tasks for today </h3>
      <div><input name="task-1" class="strikethrough" value="1" type="checkbox">
        <label for="task-1" class="strikeThis">buy milk (check to strike through the task)</label></div>
      <div><input name="task-1" class="strikethrough" value="1" type="checkbox">
        <label for="task-1" class="strikeThis">download anaconda</label></div>

    <hr class="half-rule">
    <h3 id="upcoming_tasks"> tasks for the future </h3>
    <div><input name="task-1" class="strikethrough" value="1" type="checkbox">
      <label for="task-1" class="strikeThis"> task 3 </label></div>
    <div><input name="task-1" class="strikethrough" value="1" type="checkbox">
      <label for="task-1" class="strikeThis">task 4 - important </label></div>
      </div> <!--closes form-group class-->

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      add a new task
    </button><!--change this to an icon-->

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New task</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form role="form" method="post">
              <div class="form-group">
    <label for="formGroupTaskInput">Task:</label>
    <input type="text" class="form-control form-control-lg" id="formGroupTaskInput" placeholder="What do you need to do?">
  </div>
  <div class="form-group">
    <label for="formGroupTaskDescription">Description</label>
    <input type="text" class="form-control form-control-sm" height="200" id="formGroupTaskDescription" >
  </div>
              <div class="checkbox d-flex justify-content-center">
                <label><input type="checkbox"> Mark as important </label>
              </div>
              <div><!--div for datepicker-->
                <label class="control-label" for="date">Due by:</label>

                <input id="datepicker"/>
              <!--  <script>
                  $('#datepicker').datepicker({
                    uiLibrary: 'bootstrap4'
                  });
                </script>-->
              </div><!--closes datepicker div-->
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Save task</button>
          </div><!--closes modal footer -->
        </div>
      </div>
    </div>
  </div>
  <!--closes main container div-->
</body>
<script>
fetch('http://127.0.0.1:5000/v1/entries/tasks/all')
  .then(response => response.json())
  .then(json => document.getElementById('api-resp').innerHTML = JSON.stringify(json))
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" src="../static/js/engine.js"></script>
<script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
</html>
