<!DOCTYPE html>
<html lang="en-GB">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/custom.css">
  <title class='main-headings'> diddit - get things done </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div class="container splash col-xs-6 col-md-8">
  <h1> diddit - get things done </h1></div>
<div class="container col-xs-6 col-md-8">

<p>calendar view goes here</p>  </div>


</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="static/js/engine.js"></script>
</html>
